<app-header></app-header>

<div class="primary-container">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <mat-card>
          <form [formGroup]="blogForm">
            <mat-form-field class="w100">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" placeholder="Post Title" required>
            </mat-form-field>

            <div class="mb1rem">Content</div>
            <quill-editor formControlName="content"></quill-editor>
<!--            <mat-form-field class="w100">-->
<!--              <mat-label>Content</mat-label>-->

<!--              <textarea matInput formControlName="content" placeholder="Post content..." required></textarea>-->
<!--            </mat-form-field>-->
            <mat-form-field appearance="fill" class="mt1rem">
              <mat-label>Category</mat-label>
              <mat-select (selectionChange)="categorySelection($event.value)" required>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" type="button" [disabled]="blogForm.invalid || loading"  (click)="submit()">
                Submit<span *ngIf="loading" class="btn-loader"><mat-spinner color="primary" [diameter]="20" [strokeWidth]="2"></mat-spinner></span></button>
            </div>
          </form>
        </mat-card>

      </div>
    </div>
  </div>
</div>
