<mat-toolbar color="primary">
  <span routerLink="/">Blog</span>
  <div class="right-menu">
    <div *ngIf="!loggedIn">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </div>
    <div *ngIf="loggedIn">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>
        {{fullName}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/new-post"><mat-icon>post_add</mat-icon> New Post</button>
        <button mat-menu-item routerLink="/profile"><mat-icon>person_outline</mat-icon> Profile</button>
        <button *ngIf="hasAdminRole" mat-menu-item routerLink="/admin"><mat-icon>settings</mat-icon> Admin Area</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/logout"><mat-icon>exit_to_app</mat-icon> Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
