
<div class="auth-container">
  <mat-card>
    <button mat-icon-button color="primary" routerLink="/"><mat-icon>arrow_back</mat-icon></button>
    <h1 class="text-center">Login</h1>

    <form class="text-center" [formGroup]="loginForm">
      <mat-form-field class="w100">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="w100">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="loginForm.invalid || loading" (click)="submit()">
        Login <span *ngIf="loading" class="btn-loader"><mat-spinner color="primary" [diameter]="20" [strokeWidth]="2"></mat-spinner></span></button>

      <div class="mt1rem">
        <a href="#" routerLink="/register">Register new account.</a>
      </div>
    </form>
  </mat-card>
</div>
