<app-header></app-header>

<div class="primary-container">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <mat-card>
          <div *ngFor="let post of posts; last as isLast" class="post-container">
            <div class="pbt2rem">
              <div class="blog-meta">
                <div class="font-italic"><span>Date: </span>{{post.createdAt | date}}</div>
                <div><span>Category: </span> {{post.category}}</div>
              </div>
              <h1><a [routerLink]="'/posts/'+post.id">{{post.title}}</a></h1>
              <div class="mb2rem"><span>Author: </span>{{post.author}}</div>
              <div>{{post.contentPreview}}</div>
            </div>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
